.text-form {
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 1.5rem;

    width: 100%;
}

.text-form__textarea {
    align-self: stretch;
    min-height: 16em;
    resize: none;

    font-size: 1rem;

    border-radius: 13px;
    padding: 0.7rem 1.2rem;
}

.text-form__submit {
    display: flex;
    align-items: center;
    justify-content: center;

    min-width: 10rem;
    width: 25%;

    color: var(--white);
    background-color: var(--blue);
    padding: 0.7rem;
    border: none;
    border-radius: 13px;

    font-size: 1.3rem;
}
