.chooser {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    align-self: stretch;

    padding: 0 17.5px;
}

.chooser__item {
    & > input {
        display: none;
    }

    &_active > .chooser__item__content {
        color: var(--blue);
    }
}

.chooser__item__content {
    font-size: 28px;
    color: var(--black);

    &:hover {
        text-decoration: underline;
        text-decoration-thickness: 3px;
    }
}
