.markup-viewer {
    display: flex;
    flex-direction: column;

    gap: 1rem;

    width: 100%;

    max-height: 25.4rem,;
    @media screen and (max-width: 461px) {
        max-height: none;
    }

    overflow: auto;
}

.markup-viewer__text-class {
    display: flex;
    align-items: center;

    gap: 1rem;

    width: 100%;
}

.markup-viewer__text-class__class-value {
    font-size: 1.3rem;
}

.markup-viewer__text-class__title,
.markup-viewer__keywords__title {
    display: flex;
    font-size: 1.3rem;
    margin: 0;
}

.markup-viewer__keywords {
    display: flex;
    flex-direction: column;

    gap: 0.5rem;

    width: 100%;
}

.markup-viewer__keywords__words {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;

    width: 100%;
}

.markup-viewer__keywords__words__word {
    font-size: 1.2rem;
}

.markup-viewer__tags-labels {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: min-content;

    @media screen and (max-width: 461px) {
        column-gap: 1rem;
    }

    row-gap: 0.25rem;
}

.markup-viewer__tags-labels__tags-title,
.markup-viewer__tags-labels__labels-title {
    margin: 0;
    margin-bottom: 0.25rem;
}

.markup-viewer__tags-labels__tags-title,
.markup-viewer__tags-labels__tag {
    grid-column: 1;
}

.markup-viewer__tags-labels__labels-title,
.markup-viewer__tags-labels__label {
    grid-column: 2;
}

.markup-viewer__text-class__class-value,
.markup-viewer__keywords__words__word,
.markup-viewer__tags-labels__tag,
.markup-viewer__tags-labels__label {
    font-family: var(--font-markup);
}

.markup-viewer__tags-labels__tags-title,
.markup-viewer__tags-labels__labels-title,
.markup-viewer__tags-labels__tag,
.markup-viewer__tags-labels__label {
    display: flex;
    align-items: center;

    font-size: 1.3rem;
    @media screen and (max-width: 461px) {
        font-size: 1.1rem;
    }
}
