:root {
    --font-family: Inter;
    --font-markup: Montserrat;

    --white: #fbfdff;
    --black: #141617;
    --blue: #0075f2;
    --aqua: #00f2f2;
    --gray: #707A7B;
    --gray-aqua: rgba(9, 107, 114, 0.15);
    --dark-aqua: #096b72;

    --border-radius: 13px;
}

body {
    margin: 0;
    background-color: var(--gray-aqua);
}

#root {
    display: flex;
    width: 100%;
}

* {
    font-family: var(--font-family);
}

.submit-button {
    display: flex;
    align-items: center;
    justify-content: center;

    max-height: 2.7rem;
    min-width: fit-content;

    color: var(--white);
    background-color: var(--blue);
    padding: 0.7rem;
    border: none;
    border-radius: var(--border-radius);

    font-size: 1.3rem;
    cursor: pointer;

    &:disabled {
        cursor: not-allowed;
        opacity: 0.6;
    }
}

.scrollable {
    &::-webkit-scrollbar {
        width: 14px;
        height: 18px;
    }

    &::-webkit-scrollbar-thumb {
        height: 6px;
        border: 4px solid rgba(0, 0, 0, 0);
        background-clip: padding-box;
        background-color: rgba(0, 0, 0, 0.2);
        -webkit-border-radius: 7px;
        -webkit-box-shadow: inset -1px -1px 0px rgba(0, 0, 0, 0.05),
            inset 1px 1px 0px rgba(0, 0, 0, 0.05);
    }

    &::-webkit-scrollbar-button {
        display: none;
        width: 0;
        height: 0;
    }

    &::-webkit-scrollbar-corner {
        background-color: transparent;
    }
}
