:root {
    --font-family: Inter;

    --white: #fdfbfb;
    --black: #141617;
    --blue: #0075f2;
}

* {
    font-family: var(--font-family);
}

.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 0 25px;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 20px;

    width: clamp(60%, 60%, 60%);
}

.main__header {
    font-size: 48px;
    color: var(--black);
    margin-bottom: 10px;
}
