:root {
    --font-family: Inter;

    --white: #fdfbfb;
    --black: #141617;
    --blue: #0075f2;
    --aqua: #00f2f2;
}

* {
    font-family: var(--font-family);
}

.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 35px;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 95px;

    width: 75%;
}

.header {
    font-size: 48px;
    color: var(--black);
    margin: 0;

    position: sticky;
    top: 35px;
}
